@charset "UTF-8";
/* line 1, static/scss/game.scss */
body {
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: RubikGlitchPop;
  letter-spacing: 5px;
  font-size: 48px;
  color: #e86100; }

/* line 19, static/scss/game.scss */
button {
  font-family: PressStart;
  border-radius: 500px; }

/* line 32, static/scss/game.scss */
#gameCanvas {
  display: block;
  background-image: url("/static/scss/галактика_3.jpg");
  background-size: cover;
  /* Adjust as needed */
  background-position: center;
  /* Adjust as needed */ }

/* line 41, static/scss/game.scss */
#startMenu {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 49, static/scss/game.scss */
#startButton {
  width: 200px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ff4500;
  color: #ff4500;
  box-shadow: 10px 10px;
  cursor: pointer; }

/* line 67, static/scss/game.scss */
#colorSelectorContainer {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  width: 200px; }

/* line 76, static/scss/game.scss */
.colorSelector {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
  /* Added transform transition */
  box-sizing: border-box;
  /* Ensure border doesn't affect element size */ }

/* line 87, static/scss/game.scss */
.colorSelector:hover {
  transform: scale(1.2); }

/* line 93, static/scss/game.scss */
.selected {
  border: 2px solid black;
  /* Black border around selected color */ }
