/* line 1, static/scss/login.scss */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* line 12, static/scss/login.scss */
#registerForm .wrapper {
  width: 300px;
  height: 250px;
  backdrop-filter: blur(11px) saturate(180%);
  -webkit-backdrop-filter: blur(11px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.38);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3); }
  /* line 27, static/scss/login.scss */
  #registerForm .wrapper form .fields .field {
    margin-bottom: 40px; }
    /* line 31, static/scss/login.scss */
    #registerForm .wrapper form .fields .field input {
      width: 300px;
      height: 50px;
      border-radius: 1000px; }
