asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
Django==5.0.2
django-appconf==1.0.6
django-compressor==4.4
django-ipware==6.0.4
django-libsass==0.9
django-user-agents==0.4.0
future==1.0.0
geocoder==1.38.1
gunicorn==21.2.0
idna==3.6
libsass==0.23.0
packaging==23.2
python-ipware==2.0.2
ratelim==0.1.6
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
ua-parser==0.18.0
urllib3==2.2.1
user-agents==2.2.0
