{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Голодные игры</title>

    <link rel="shortcut icon" href="{% static 'jpg/logo.jpg' %}" type="image/x-icon">

    {% compress css %}

        <link rel="stylesheet" href="{% static 'scss/game.scss' %}" type="text/x-scss">

    {% endcompress %}

    <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>

    <style>

        @font-face {

            font-family: RubikGlitchPop;
            src: url("{% static 'fonts/RubikGlitchPop.ttf' %}");
        
        }

        @font-face {

            font-family: PressStart;
            src: url("{% static 'fonts/PressStart.ttf' %}");

        }

        #gameCanvas {

            background-image: url("{% static 'jpg/galaxy.jpg' %}")

        }

    </style>

</head>

<body>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var audio = document.getElementById('song');
            audio.play();
        });

    </script>

<!--     <audio  controls autoplay loop>
        <source src="{% static 'mp3/song.mp3' %}" type="audio/mpeg">
    </audio> -->

        <svg version="1.1" id="logoSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
        <style type="text/css">
            .st0{fill:#E84A1D;}
            .st1{fill:#020203;}
            .st2{fill:#FFFFFF;}
        </style>
        <g>
            <circle class="st0" cx="199.7" cy="199.7" r="190.7"/>
            <path class="st1" d="M199.7,18c48.5,0,94.1,18.9,128.5,53.2c34.3,34.3,53.2,79.9,53.2,128.5s-18.9,94.1-53.2,128.5
                c-34.3,34.3-79.9,53.2-128.5,53.2s-94.1-18.9-128.5-53.2C36.9,293.8,18,248.2,18,199.7s18.9-94.1,53.2-128.5
                C105.5,36.9,151.1,18,199.7,18 M199.7,0C89.4,0,0,89.4,0,199.7s89.4,199.7,199.7,199.7s199.7-89.4,199.7-199.7S309.9,0,199.7,0
                L199.7,0z"/>
        </g>
        <g>
            <path class="st1" d="M136,186.2c-17.3,0-31.3-14-31.3-31.3s14-31.3,31.3-31.3s31.3,14,31.3,31.3S153.3,186.2,136,186.2z"/>
            <path class="st1" d="M136,124.1c17,0,30.8,13.8,30.8,30.8S153,185.7,136,185.7s-30.8-13.8-30.8-30.8S119,124.1,136,124.1
                M136,123.1c-17.6,0-31.8,14.2-31.8,31.8s14.2,31.8,31.8,31.8s31.8-14.2,31.8-31.8S153.6,123.1,136,123.1L136,123.1z"/>
        </g>
        <g>
            <circle class="st1" cx="271" cy="154.9" r="31.3"/>
            <path class="st1" d="M271,124.1c17,0,30.8,13.8,30.8,30.8S288,185.7,271,185.7s-30.8-13.8-30.8-30.8S254,124.1,271,124.1
                M271,123.1c-17.6,0-31.8,14.2-31.8,31.8s14.2,31.8,31.8,31.8c17.6,0,31.8-14.2,31.8-31.8S288.6,123.1,271,123.1L271,123.1z"/>
        </g>
        <g>
            <path class="st1" d="M119.7,305.9l-35.6-35.6c-3.7-3.7-3.7-9.7,0-13.4l0,0c3.7-3.7,9.7-3.7,13.4,0l35.6,35.6
                c3.7,3.7,3.7,9.7,0,13.4h0C129.4,309.6,123.4,309.6,119.7,305.9z"/>
        </g>
        <g>
            <path class="st1" d="M133.9,305.9l35.6-35.6c3.7-3.7,3.7-9.7,0-13.4l0,0c-3.7-3.7-9.7-3.7-13.4,0l-35.6,35.6
                c-3.7,3.7-3.7,9.7,0,13.4h0C124.2,309.6,130.2,309.6,133.9,305.9z"/>
        </g>
        <g>
            <path class="st1" d="M192.4,305.9l-35.6-35.6c-3.7-3.7-3.7-9.7,0-13.4l0,0c3.7-3.7,9.7-3.7,13.4,0l35.6,35.6
                c3.7,3.7,3.7,9.7,0,13.4l0,0C202.1,309.6,196.1,309.6,192.4,305.9z"/>
        </g>
        <g>
            <path class="st1" d="M206.7,305.9l35.6-35.6c3.7-3.7,3.7-9.7,0-13.4l0,0c-3.7-3.7-9.7-3.7-13.4,0l-35.6,35.6
                c-3.7,3.7-3.7,9.7,0,13.4h0C197,309.6,203,309.6,206.7,305.9z"/>
        </g>
        <g>
            <path class="st1" d="M265.2,305.9l-35.6-35.6c-3.7-3.7-3.7-9.7,0-13.4l0,0c3.7-3.7,9.7-3.7,13.4,0l35.6,35.6
                c3.7,3.7,3.7,9.7,0,13.4h0C274.9,309.6,268.9,309.6,265.2,305.9z"/>
        </g>
        <g>
            <path class="st1" d="M279.4,305.9l35.6-35.6c3.7-3.7,3.7-9.7,0-13.4l0,0c-3.7-3.7-9.7-3.7-13.4,0L266,292.5
                c-3.7,3.7-3.7,9.7,0,13.4l0,0C269.7,309.6,275.7,309.6,279.4,305.9z"/>
        </g>
        <g>
            <circle class="st2" cx="272.4" cy="156.3" r="12.2"/>
        </g>
        <g>
            <circle class="st2" cx="136" cy="156.3" r="12.2"/>
        </g>
        </svg>

    <div class="topnav">

        <a href="/register" target="_blank" class="auth-btn">

            <button id="registerBtn">

                Зарегистрироваться

            </button>

        </a>

    </div>
    
    <div id="startMenu">
        
        <h1>Голодные игры</h1>

        <button class="pulse" id="startButton">Играть</button>

        <div class="style-btns">

            <button id="changePlayerColor">Цвет игрока</button>
            <button id="changeBackground">Фон</button>

        </div>

    </div>

    <div id="playerColorMenu">

        <h1>Цвет игрока</h1>

        <div id="colorSelectorContainer"></div>

        <button id="savePlayerColor">Сохранить</button>

    </div>

    <div id="backgroundMenu">

        <h1>Фоны</h1>

        <div class="backgrounds">

            <div class="background">

                <img src="{% static 'jpg/galaxy.jpg' %}" alt="фон галактика">

                <span class="backgroundName">Космос</span>

            </div>

            <div class="background">



            </div>

            <div class="background">



            </div>

        </div>

    </div>

    <canvas id="gameCanvas"></canvas>

    <!-- Menus -->
    <script>

        $('#changePlayerColor').click(function() {

            $('#startMenu').hide();

            $('#playerColorMenu').css('display', 'flex');

        });

        $('#savePlayerColor').click(function() {

            $('#playerColorMenu').hide();

            $('#startMenu').css('display', 'flex');

        });

        $('#startButton').click(function() {

            $('.topnav').hide();
            $('#startMenu').hide();


        });

        $('#changeBackground').click(function() {

            $('.topnav').hide();
            $('#startMenu').hide();
            $('#backgroundMenu').show();


        });

    </script>

    <!-- Game -->
    <script>

        const canvas = document.getElementById('gameCanvas');
        const ctx = canvas.getContext('2d');
        const startButton = document.getElementById('startButton');
        const startMenu = document.getElementById('startMenu');
        const colorSelectorContainer = document.getElementById('colorSelectorContainer');

        canvas.style.display = 'none'; // Hide canvas initially

        const player = {

            x: canvas.width / 2,
            y: canvas.height / 2,
            width: 20,
            height: 20,
            vxl: 0,
            vxr: 0,
            vyu: 0,
            vyd: 0,
            speed: 5,
            color: '#FFFFFF' // Default player color (white)
            
        };

        const defaultColors = ['#FFFFFF', '#FF0000', '#0000FF', '#00FF00', '#FFFF00'];

        // Create color selectors
        defaultColors.forEach(color => {

            const colorSelector = document.createElement('div');
            colorSelector.className = 'colorSelector';
            colorSelector.style.backgroundColor = color;

            if (color === player.color) {

                colorSelector.classList.add('selected');

            }

            colorSelector.addEventListener('click', () => selectColor(color, colorSelector)); // Pass colorSelector element
            colorSelectorContainer.appendChild(colorSelector);

        });

        function selectColor(color, colorSelector) {

            player.color = color;
            // Remove 'selected' class from all color selectors
            const colorSelectors = document.querySelectorAll('.colorSelector');
            colorSelectors.forEach(selector => selector.classList.remove('selected'));
            // Add 'selected' class to the clicked color selector
            colorSelector.classList.add('selected');

        }

        /* Arrow movement */

        addEventListener('keydown', function (e) {

            if (e.code == 'ArrowRight') player.vxr = player.speed;
            if (e.code == 'ArrowLeft') player.vxl = -player.speed;
            if (e.code == 'ArrowUp') player.vyu = -player.speed;
            if (e.code == 'ArrowDown') player.vyd = player.speed;

        });

        addEventListener('keyup', function (e) {

            if (e.code == 'ArrowRight') player.vxr = 0;
            if (e.code == 'ArrowLeft') player.vxl = 0;
            if (e.code == 'ArrowUp') player.vyu = 0;
            if (e.code == 'ArrowDown') player.vyd = 0;

        });

        let level = 1;

        /* Balloons */
        const totalBalloons = 10; // Static amount of balloons
        let balloons = [];
        let balloonsCollected = 0;
        let balloonRadius = 20; // Balloon radius

        /* Monsters */
        let monsters = [];
        let totalMonsters = 2; // Initial number of monsters
        let monsterSpeed = 2.5; // Monster speed
        
        let gameRunning = false;

        startButton.addEventListener('click', startGame);

        function startGame() {

            gameRunning = true;
            canvas.style.display = 'block';
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            player.x = canvas.width / 2;
            player.y = canvas.height / 2;
            spawnBalloons();
            spawnMonsters();
            updateGame();

        }

        /* Draw a player (circle) */
        function drawPlayer() {

            // Draw the trail
            ctx.beginPath();
            ctx.arc(player.x + player.width / 2, player.y + player.height / 2, player.width / 2 + 5, 0, Math.PI * 2);
            ctx.fillStyle = 'rgba(255, 255, 255, 0.2)'; // Semi-transparent white trail
            ctx.fill();
            ctx.closePath();

            // Draw the player
            ctx.beginPath();
            ctx.arc(player.x + player.width / 2, player.y + player.height / 2, player.width / 2, 0, Math.PI * 2);
            ctx.fillStyle = player.color;
            ctx.fill();
            ctx.strokeStyle = "black"; // Black border
            ctx.lineWidth = 2; // Border width
            ctx.stroke();
            ctx.closePath();

        }

        /* Make sure player can't go beyond canvas */
        function movePlayer() {

            if (player.x < 0) {

                player.x = 0;

            }

            if (player.x + player.width > canvas.width) {

                player.x = canvas.width - player.width;

            }

            if (player.y < 0) {

                player.y = 0;

            }

            if (player.y + player.height > canvas.height) {

                player.y = canvas.height - player.height;

            }
        
        }

        /* Draw balloons */
        function drawBalloons() {

            for (let i = 0; i < balloons.length; i++) {

                let balloon = balloons[i];

                if (!balloon.collected) {
                    sphereImg = new Image();
                    sphereImg.src = "{% static 'svg/sphere.svg' %}"

                    ctx.drawImage(sphereImg, balloon.x, balloon.y, balloon.radius * 2, balloon.radius * 2)

                }

            }

        }

        /* Spawn balloons at random locations */
        function spawnBalloons() {

            balloons = [];

            for (let i = 0; i < totalBalloons; i++) {

                let newX = Math.random() * (canvas.width - 2 * balloonRadius) + balloonRadius;
                let newY = Math.random() * (canvas.height - 2 * balloonRadius) + balloonRadius;

                // Add non-overlapping balloon to the array
                balloons.push({

                    x: newX,
                    y: newY,
                    radius: balloonRadius,
                    color: '#ffdf00', // Random color
                    collected: false
                });

            }

        }

        function spawnMonsters() {

            monsters = [];
            const padding = 40; // Padding to keep monsters away from the edges
            const minDistance = 60; // Minimum distance between monsters
            
            for (let i = 0; i < totalMonsters; i++) {

                let side = Math.floor(Math.random() * 4); // 0: top, 1: right, 2: bottom, 3: left
                let x, y, speedX, speedY;

                switch (side) {

                    case 0: // top edge
                        x = Math.random() * (canvas.width - padding * 2) + padding;
                        y = padding;
                        break;

                    case 1: // right edge
                        x = canvas.width - padding;
                        y = Math.random() * (canvas.height - padding * 2) + padding;
                        break;

                    case 2: // bottom edge
                        x = Math.random() * (canvas.width - padding * 2) + padding;
                        y = canvas.height - padding;
                        break;

                    case 3: // left edge
                        x = padding;
                        y = Math.random() * (canvas.height - padding * 2) + padding;
                        break;
                }

                speedX = monsterSpeed;
                speedY = monsterSpeed;

                /* Randomize travel direction of monsters */
                if (Math.random() < 0.5) speedX *= -1;
                if (Math.random() < 0.5) speedY *= -1;

                // Add monster to the array
                monsters.push({

                    x: x,
                    y: y,
                    width: 40,
                    height: 40,
                    speedX: speedX,
                    speedY: speedY

                });

            }

        }

        function drawScore() {

            ctx.font = "16px PressStart";
            ctx.fillStyle = "#FFF";
            ctx.fillText("Уровень: " + level, 20, 40);

        }

        /* Draw monsters (images) */
        function drawMonsters() {

        const monsterImage = new Image();
        monsterImage.src = "{% static 'svg/monster.svg' %}"; // Path to the monster image

        for (let monster of monsters) {
            ctx.drawImage(monsterImage, monster.x, monster.y, monster.width, monster.height);
        }

        }
        
        var collisionSound = new Audio("{% static 'mp3/collision.mp3' %}");
        /* Monster movement */
        function moveMonsters() {

            for (let i = 0; i < monsters.length; i++) {

                let monster = monsters[i];
                monster.x += monster.speedX;
                monster.y += monster.speedY;

                // Reverse direction if hitting canvas edges
                if (monster.x < 0 || monster.x + monster.width > canvas.width) {
                    
                    monster.speedX *= -1;
                    collisionSound.play(); // Play collision sound
                }
                
                if (monster.y < 0 || monster.y + monster.height > canvas.height) {
                    
                    monster.speedY *= -1;
                    collisionSound.play(); // Play collision sound
                }

                // Check collision with other monsters
                for (let j = 0; j < monsters.length; j++) {

                    if (i !== j) {

                        let otherMonster = monsters[j];

                        if (monster.x < otherMonster.x + otherMonster.width &&
                            monster.x + monster.width > otherMonster.x &&
                            monster.y < otherMonster.y + otherMonster.height &&
                            monster.y + monster.height > otherMonster.y) {
                            // Bounce off each other
                            let tempSpeedX = monster.speedX;
                            let tempSpeedY = monster.speedY;
                            monster.speedX = otherMonster.speedX;
                            monster.speedY = otherMonster.speedY;
                            otherMonster.speedX = tempSpeedX;
                            otherMonster.speedY = tempSpeedY;
                            collisionSound.play(); // Play collision sound
                        }

                    }

                }

            }

        }

        function checkCollision() {

            for (let balloon of balloons) {

                if (!balloon.collected && player.x < balloon.x + balloon.radius &&
                    
                    player.x + player.width > balloon.x - balloon.radius &&
                    player.y < balloon.y + balloon.radius &&
                    player.y + player.height > balloon.y - balloon.radius) {
                    balloon.collected = true;
                    balloonsCollected++;

                    /* New level if all balloons collected */
                    if (balloonsCollected === totalBalloons) {
                        
                        level++;
                        balloonsCollected = 0;
                        totalMonsters += 2;

                        /* Respawn player at the center */
                        player.x = canvas.width / 2;
                        player.y = canvas.height / 2;

                        spawnBalloons();
                        spawnMonsters();

                    }

                }

            }

        }

        function checkMonsterCollision() {

            for (let monster of monsters) {

                if (player.x < monster.x + monster.width &&
                    player.x + player.width > monster.x &&
                    player.y < monster.y + monster.height &&
                    player.y + player.height > monster.y) {
                    level = 1;
                    balloonsCollected = 0;
                    totalMonsters = 2;
                    monsterSpeedMin = 1;
                    monsterSpeedMax = 4;
                    player.x = canvas.width / 2; // Respawn player at the center
                    player.y = canvas.height / 2;
                    collisionSound.play()
                    spawnBalloons();
                    spawnMonsters();
                    break;

                }

            }

        }

        function updateGame() {

            if (!gameRunning) return;
            ctx.clearRect(0, 0, canvas.width, canvas.height); // clear entire canvas
            player.x += player.vxl;
            player.x += player.vxr;
            player.y += player.vyu;
            player.y += player.vyd;

            drawPlayer();
            movePlayer();

            drawBalloons();

            drawMonsters();
            moveMonsters();

            drawScore();

            checkCollision();

            checkMonsterCollision();

            requestAnimationFrame(updateGame);

        }

    </script>

</body>

</html>
