body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: PressStart;

    color: #fff;

}

input {

    padding: 5px 20px 0 50px;

    font-family: PressStart;

    color: #fff;

}

input::placeholder {

    color: #fff;

}

input:focus::placeholder {

    color: transparent;

}

input:focus {

    outline: none;

}

button {

    border: none;

    font-family: PressStart;

    cursor: pointer;

}

a {

    text-decoration: none;

    #pageTitle {

        font-size: 53px;
    
        color: #fff;
        font-family: PressStart;
    

    }

}

#registerForm {

    .wrapper {

        width: 280px;
        height: 360px;

        backdrop-filter: blur(11px) saturate(180%);
        -webkit-backdrop-filter: blur(11px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);

        h2 {

            font-size: 20px;
            text-align: center;

        }

        form {

            .fields {

                position: relative;
                top: 30px;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .field {

                    margin-bottom: 20px;

                    svg {

                        fill: #fff;

                    }

                    #nameSVG {

                        position: absolute;
                        top: 18px;
                        left: 20px;                        

                    }

                    #emailSVG {

                        position: absolute;
                        top: 85px;
                        left: 15px;     
                        
                        transform: scale(0.8);

                        fill: #fff;

                    }

                    #pwordSVG {

                        position: absolute;
                        top: 160px;
                        left: 15px;     
                        
                        transform: scale(0.8);

                    }

                    #nameError {

                        position: absolute;
                        left: 240px;
                        top: 20px;

                        display: none;
                        
                    }

                    #emailError {

                        position: absolute;
                        left: 240px;
                        top: 96px;

                        display: none;
                        
                    }

                    #pwordError {

                        position: absolute;
                        left: 240px;
                        top: 170px;
                        
                        display: none;
                        
                    }

                    input {

                        width: 200px;
                        height: 50px;

                        border-radius: 1000px;
                        
                        background: none;
                        border: none;                        
                        box-shadow: inset 5px 5px 10px #453c6b,
                            inset -5px -5px 10px #5d5191;


                    }

                }

            }

        }

        #loginError {

            position: absolute;
            left: 5px;
            bottom: 130px;

            span {

                font-size: 10px;

            }

        }

        #errorText {

            position: absolute;
            left: 5px;
            bottom: 130px;

            span {

                font-size: 10px;

                display: none;

            }

        }

    }

    .buttons {

        position: relative;
        top: 20px;

        #registerBtn {

            cursor: not-allowed;

        }

        button {

            position: relative;
            left: 5px;

            width: 270px;
            height: 40px;

            margin-top: 20px;

            border-radius: 50px;

            background: none;
            color: #fff;

            box-shadow:  5px 5px 10px #453c6b,
             -5px -5px 10px #5d5191;


        }

        button.in {

            box-shadow: inset 5px 5px 10px #453c6b,
                inset -5px -5px 10px #5d5191;

        }

    }

}